{% extends '::encargado.html.twig' %}

{% block section %}

<form action="{{ path('encargado_asignar') }}" method="post" id="bilatu" class="form-inline margina-gora">
<div id="buscarRegistro" style="display:none;" >
        <label for="q">qqq</label>
        <input type="text" id="q" name="q" value="{{ q }}" />
        <label for="fetxa">fetxa</label>
        <input type="text" id="fetxa" value="{{ q }}" />
        <label for="usu">usu</label>
    <!-- </form> -->
</div>



<!-- <form action="{ { path('encargado_gorde')}}" method="get" accept-charset="utf-8" id="asignar_submit"> -->

<div id="divdatos">
  <div class="ezkerra" style="display:vissible;">
    <div id="menu">
      <div id="divusuario">
        <span>
          {{ form_label(form.usuario) }}
          {{ form_errors(form.usuario) }}
          {{ form_widget(form.usuario) }}
        </span>
        <span><a href="#" id="asignartodos">Todos</a></span>
        <br>
        <br>
        <span>
            Fecha: <input type="text" id="datepicker">
        </span>
        <br>
        <br>
        <button id="btn_asignar" type="button">Grabar</button>
      </div>
    </div>
  </div><!-- .ezkerra -->
    <div class="eskuina">
        <div id="divopciones">
                <ul class="thumbnails" style="display:none;">
                    <li><div id="img_1dia"        class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/1.png') }}" />1º Día</div></li>
                    <li><div id="img_repaso"      class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/2.png') }}" />Repaso</div></li>
                    <li><div id="img_completo"    class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/3.png') }}" />Completo</div></li>
                </ul>
                <ul class="thumbnails" style="display:none;">
                    <li><div id="img_sale"        class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/libre.png') }}" />Libre</div></li>
                    <li><div id="img_entra"       class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/ocupado.png') }}" />Ocupado</div></li>
                    <li><button id="botoia" class="btn btn-primary" type="submit">Grabar</button></li>
                </ul>
        </div>
        <div class="imghotel">
            <div class="hotel_ezkerra">

                <div id="hotel_gela1" data-ocupado="{{ mapa[7].Ocupado}}" data-habitacion="107" data-tarea="{{mapa[7].Tarea}}" data-incidencia="{{ mapa[7].Incidencia}}" data-kolorea="{{ mapa[7].Kolorea }}">
                    <span id="span107" class="label label-info">{% if registros[6].usuario is not null %}{{ registros[6].usuario.nombre }} {% endif %}</span>
                    <a href="#" class="hotel_gela" rel="107"><span>
                        <img src="{{ asset(mapa[7].img) }}" alt="Habitación 107" width="" height="" />
                    </a></span>
                    <input type="hidden" name="usuarioshab[]" id="usuario107" class="hidden-usuario" value="{% if registros[6].usuario is not null %}{{ registros[6].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario107" class="hidden-nombreusuario" value="{% if registros[6].usuario is not null %}{{ registros[6].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela1 -->

                <div id="hotel_gela2" data-ocupado="{{ mapa[8].Ocupado}}" data-habitacion="108" data-tarea="{{ mapa[6].Tarea }}" data-incidencia="{{ mapa[8].Incidencia}}" data-kolorea="{{ mapa[8].Kolorea }}">
                    <span id="span108" class="label label-info">{% if registros[7].usuario is not null %}{{ registros[7].usuario.nombre }}{% endif %}</span>
                    <a href="#"  class="hotel_gela" rel="108">
                        <img src="{{ asset(mapa[8].img) }}" alt="Habitación 108"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario108" class="hidden-usuario" value="{% if registros[7].usuario is not null %}{{ registros[7].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario108" class="hidden-nombreusuario" value="{% if registros[7].usuario is not null %}{{ registros[7].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela2 -->

                <div id="hotel_gela3" data-ocupado="{{ mapa[9].Ocupado}}" data-habitacion="109" data-tarea="{{ mapa[9].Tarea }}" data-incidencia="{{ mapa[9].Incidencia}}" data-kolorea="{{ mapa[9].Kolorea }}">
                    <span id="span109" class="label label-info">{% if registros[8].usuario is not null %}{{ registros[8].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="109">
                        <img src="{{ asset(mapa[9].img) }}" alt="Habitación 109"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario109" class="hidden-usuario" value="{% if registros[8].usuario is not null %}{{ registros[8].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario109" class="hidden-nombreusuario" value="{% if registros[8].usuario is not null %}{{ registros[8].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela3 -->

                <div id="hotel_gela4" data-ocupado="{{ mapa[10].Ocupado}}" data-habitacion="110" data-tarea="{{ mapa[10].Tarea }}" data-incidencia="{{ mapa[10].Incidencia}}" data-kolorea="{{ mapa[10].Kolorea }}">
                    <span id="span110" class="label label-info">{% if registros[9].usuario is not null %}{{ registros[9].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="110">
                        <img src="{{ asset(mapa[10].img) }}" alt="Habitación 110"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario110" class="hidden-usuario" value="{% if registros[9].usuario is not null %}{{ registros[9].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario110" class="hidden-nombreusuario" value="{% if registros[9].usuario is not null %}{{ registros[9].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela4 -->

            </div><!-- .hotel_ezkerra -->
            <div class="hotel_eskuina">
                <div id="hotel_gela5"  data-ocupado="{{ mapa[6].Ocupado}}" data-habitacion="106" data-tarea="{{ mapa[6].Tarea }}" data-incidencia="{{ mapa[6].Incidencia}}" data-kolorea="{{ mapa[6].Kolorea }}">
                    <span id="span106" class="label label-info">{% if registros[5].usuario is not null %}{{ registros[5].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="106">
                        <img src="{{ asset(mapa[6].img) }}" alt="Habitación 106"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario106" class="hidden-usuario" value="{% if registros[5].usuario is not null %}{{ registros[5].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario106" class="hidden-nombreusuario" value="{% if registros[5].usuario is not null %}{{ registros[5].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela5 -->

                <div id="hotel_gela6" data-ocupado="{{ mapa[5].Ocupado}}" data-habitacion="105" data-tarea="{{ mapa[5].Tarea }}" data-incidencia="{{ mapa[5].Incidencia}}" data-kolorea="{{ mapa[5].Kolorea }}">
                    <span id="span105" class="label label-info">{% if registros[4].usuario is not null %}{{ registros[4].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="105">
                        <img src="{{ asset(mapa[5].img) }}" alt="Habitación 105"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario105" class="hidden-usuario" value="{% if registros[4].usuario is not null %}{{ registros[4].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario105" class="hidden-nombreusuario" value="{% if registros[4].usuario is not null %}{{ registros[4].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela6 -->

                <div id="hotel_gela7" data-ocupado="{{ mapa[4].Ocupado}}" data-habitacion="104" data-tarea="{{ mapa[4].Tarea }}" data-incidencia="{{ mapa[4].Incidencia}}" data-kolorea="{{ mapa[4].Kolorea }}">
                    <span id="span104" class="label label-info">{% if registros[3].usuario is not null %}{{ registros[3].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="104">
                        <img src="{{ asset(mapa[4].img) }}" alt="Habitación 104"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario104" class="hidden-usuario" value="{% if registros[3].usuario is not null %}{{ registros[3].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario104" class="hidden-nombreusuario" value="{% if registros[3].usuario is not null %}{{ registros[3].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela7 -->

                <div id="hotel_gela8" data-ocupado="{{ mapa[3].Ocupado}}" data-habitacion="103" data-tarea="{{ mapa[3].Tarea }}" data-incidencia="{{ mapa[3].Incidencia}}" data-kolorea="{{ mapa[3].Kolorea }}">
                    <span id="span103" class="label label-info">{% if registros[2].usuario is not null %}{{ registros[2].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="103">
                        <img src="{{ asset(mapa[3].img) }}" alt="Habitación 102"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario103" class="hidden-usuario" value="{% if registros[2].usuario is not null %}{{ registros[2].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario103" class="hidden-nombreusuario" value="{% if registros[2].usuario is not null %}{{ registros[2].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela8 -->

                <div id="hotel_gela9" data-ocupado="{{ mapa[2].Ocupado}}" data-habitacion="102" data-tarea="{{ mapa[2].Tarea }}" data-incidencia="{{ mapa[2].Incidencia}}" data-kolorea="{{ mapa[2].Kolorea }}">
                    <span id="span102" class="label label-info">{% if registros[1].usuario is not null %}{{ registros[1].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="102">
                        <img src="{{ asset(mapa[2].img) }}" alt="Habitación 102"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario102" class="hidden-usuario" value="{% if registros[1].usuario is not null %}{{ registros[1].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario102" class="hidden-nombreusuario" value="{% if registros[1].usuario is not null %}{{ registros[1].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela9 -->

                <div id="hotel_gela101" data-ocupado="{{ mapa[1].Ocupado}}" data-habitacion="101" data-tarea="{{ mapa[1].Tarea }}" data-incidencia="{{ mapa[1].Incidencia}}" data-kolorea="{{ mapa[1].Kolorea }}">
                    <span id="span10" class="label label-info">{% if registros[0].usuario is not null %}{{ registros[0].usuario.nombre }}{% endif %}</span>
                    <a href="#" class="hotel_gela" rel="101">
                        <img src="{{ asset(mapa[1].img) }}" alt="Habitación 101"  width="" height="" />
                    </a>
                    <input type="hidden" name="usuarioshab[]" id="usuario101" class="hidden-usuario" value="{% if registros[0].usuario is not null %}{{ registros[0].usuario.id }}{% endif %}">
                    <input type="hidden" name="nombreusuarioshab[]" id="nombreusuario101" class="hidden-nombreusuario" value="{% if registros[0].usuario is not null %}{{ registros[0].usuario.nombre }}{% endif %}">
                </div><!-- #hotel_gela10 -->

            </div><!-- .hotel_eskuina -->
        </div><!-- .imghotel -->
    </div><!-- .eskuina -->
</div>
</form>
{% endblock %}
