{% extends '::encargado.html.twig' %}

{% block section %}

<div id="divdatos" class="margina-gora">
  <div class="ezkerra">
    <div style="display:none;">
      {{ form_row(form.usuario) }}

      Fecha: <div id="datepicker"></div>
      <input type="text" id="q" name="q" value="{{ q }}" />
    </div>


    <div id="divopciones">
      <ul class="ultareas" >
        <li><div id="img_1dia"        class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/1.png') }}" />1º Día</div></li>
        <li><div id="img_repaso"      class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/2.png') }}" />Repaso</div></li>
        <li><div id="img_completo"    class="thumbnail" ><img src="{{ asset('bundles/registro/img/iconos/tareas/3.png') }}" />Completo</div></li>
      </ul>
    </div>
    </div><!-- .ezkerra -->
      <div class="eskuina">
        <div class="imghotel">
          <div class="hotel_ezkerra">
            <div id="hotel_gela1" data-ocupado="{{ mapa[7].Ocupado}}" data-habitacion="107" data-tarea="{{mapa[7].Tarea}}" data-incidencia="{{ mapa[7].Incidencia}}" data-kolorea="{{ mapa[7].Kolorea }}">
              <a href="#" class="hotel_gela" rel="107">
                <img src="{{ asset(mapa[7].img) }}" alt="Habitación 107" width="" height="" />
              </a>
            </div><!-- #hotel_gela1 -->
            <div id="hotel_gela2" data-ocupado="{{ mapa[8].Ocupado}}" data-habitacion="108" data-tarea="{{ mapa[6].Tarea }}" data-incidencia="{{ mapa[8].Incidencia}}" data-kolorea="{{ mapa[8].Kolorea }}">
              <a href="#"  class="hotel_gela" rel="108">
                <img src="{{ asset(mapa[8].img) }}" alt="Habitación 108"  width="" height="" />
              </a>
            </div><!-- #hotel_gela2 -->
            <div id="hotel_gela3" data-ocupado="{{ mapa[9].Ocupado}}" data-habitacion="109" data-tarea="{{ mapa[9].Tarea }}" data-incidencia="{{ mapa[9].Incidencia}}" data-kolorea="{{ mapa[9].Kolorea }}">
              <a href="#" class="hotel_gela" rel="109">
                <img src="{{ asset(mapa[9].img) }}" alt="Habitación 109"  width="" height="" />
              </a>
            </div><!-- #hotel_gela3 -->
            <div id="hotel_gela4" data-ocupado="{{ mapa[10].Ocupado}}" data-habitacion="110" data-tarea="{{ mapa[10].Tarea }}" data-incidencia="{{ mapa[10].Incidencia}}" data-kolorea="{{ mapa[10].Kolorea }}">
              <a href="#" class="hotel_gela" rel="110">
                <img src="{{ asset(mapa[10].img) }}" alt="Habitación 110"  width="" height="" />
              </a>
            </div><!-- #hotel_gela4 -->
          </div><!-- .hotel_ezkerra -->
          <div class="hotel_eskuina">
            <div id="hotel_gela5"  data-ocupado="{{ mapa[6].Ocupado}}" data-habitacion="106" data-tarea="{{ mapa[6].Tarea }}" data-incidencia="{{ mapa[6].Incidencia}}" data-kolorea="{{ mapa[6].Kolorea }}">
              <a href="#" class="hotel_gela" rel="106">
                <img src="{{ asset(mapa[6].img) }}" alt="Habitación 106"  width="" height="" />
              </a>
            </div><!-- #hotel_gela5 -->
            <div id="hotel_gela6" data-ocupado="{{ mapa[5].Ocupado}}" data-habitacion="105" data-tarea="{{ mapa[5].Tarea }}" data-incidencia="{{ mapa[5].Incidencia}}" data-kolorea="{{ mapa[5].Kolorea }}">
              <a href="#" class="hotel_gela" rel="105">
                <img src="{{ asset(mapa[5].img) }}" alt="Habitación 105"  width="" height="" />
              </a>
            </div><!-- #hotel_gela6 -->
            <div id="hotel_gela7" data-ocupado="{{ mapa[4].Ocupado}}" data-habitacion="104" data-tarea="{{ mapa[4].Tarea }}" data-incidencia="{{ mapa[4].Incidencia}}" data-kolorea="{{ mapa[4].Kolorea }}">
              <a href="#" class="hotel_gela" rel="104">
                <img src="{{ asset(mapa[4].img) }}" alt="Habitación 104"  width="" height="" />
              </a>
            </div><!-- #hotel_gela7 -->
            <div id="hotel_gela8" data-ocupado="{{ mapa[3].Ocupado}}" data-habitacion="103" data-tarea="{{ mapa[3].Tarea }}" data-incidencia="{{ mapa[3].Incidencia}}" data-kolorea="{{ mapa[3].Kolorea }}">
              <a href="#" class="hotel_gela" rel="103">
                <img src="{{ asset(mapa[3].img) }}" alt="Habitación 102"  width="" height="" />
              </a>
            </div><!-- #hotel_gela8 -->
            <div id="hotel_gela9" data-ocupado="{{ mapa[2].Ocupado}}" data-habitacion="102" data-tarea="{{ mapa[2].Tarea }}" data-incidencia="{{ mapa[2].Incidencia}}" data-kolorea="{{ mapa[2].Kolorea }}">
              <a href="#" class="hotel_gela" rel="102">
                <img src="{{ asset(mapa[2].img) }}" alt="Habitación 102"  width="" height="" />
              </a>
            </div><!-- #hotel_gela9 -->
            <div id="hotel_gela101" data-ocupado="{{ mapa[1].Ocupado}}" data-habitacion="101" data-tarea="{{ mapa[1].Tarea }}" data-incidencia="{{ mapa[1].Incidencia}}" data-kolorea="{{ mapa[1].Kolorea }}">
              <a href="#" class="hotel_gela" rel="101">
                <img src="{{ asset(mapa[1].img) }}" alt="Habitación 101"  width="" height="" />
              </a>
            </div><!-- #hotel_gela10 -->
          </div><!-- .hotel_eskuina -->
        </div><!-- .imghotel -->
      </div><!-- .eskuina -->
      <div class="container-fluid" style="display:none;">
        <div class="row-fluid">
          <div class="span10">
            <h1>Lanak</h1>
            <div class="row">
              <form id="form_datuak" action="{{ path('recepcion_asignar') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <!-- <ul class="registros" data-prototype="{ { form_widget(form.registros.get('prototype')) | e } }"> -->
                <ul class="tags" data-prototype="{{ form_widget(form.registros.vars.prototype)|e }}">
                  {% for registro in form.registros %}
                    <li>{{ form_row(registro) }}</li>
                  {% endfor %}
                </ul>
                {{ form_rest(form) }}
                <p>
                  <button type="submit">Create</button>
                </p>
              </form>
            </div> <!-- row -->
          </div><!-- span10 -->
        </div><!-- row-fluio -->
      </div><!--container-fluid -->
  </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}

        <script type="text/javascript">

        $( init );
        function init() {
          $('#img_sale').draggable({
            appendTo: "body",
            helper: "clone"
          });
          $('#img_entra').draggable({
            appendTo: "body",
            helper: "clone"
          });
          $('#img_1dia').draggable({
            appendTo: "body",
            helper: "clone"
          });
          $('#img_repaso').draggable({
            appendTo: "body",
            helper: "clone"
          });
          $('#img_completo').draggable({
            appendTo: "body",
            helper: "clone"
          });


          $('#hotel_gela1').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela2').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela3').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela4').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela5').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela6').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela7').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela8').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela9').droppable({
            drop: handleDropEvent
          });
          $('#hotel_gela10').droppable({
            drop: handleDropEvent
          });
        }

        function handleDropEvent( event, ui, hab ) {

          var draggable = ui.draggable;
          var miid = draggable.attr('id');
          console.log("miid da: " + miid);
          var miimg = $(this).children().children();
    var mihab = $(this).data("habitacion"); // nº habitacion
    var accion="";

    // Okupazioa bada aldatzen dena, data-ocupado aldatu behar da
    switch ( miid ){
      case "img_entra":
      accion="entra";
      miid = $(this).data("tarea");
      break;
      case "img_sale":
      $(this).data("ocupado",0);
      accion="sale";
      miid = $(this).data("tarea");
      break;
      case "img_1dia":
      accion="1dia";
      miid = $(this).data("tarea");
      break;
      case "img_repaso":
      accion="repaso";
      miid = $(this).data("tarea");
      break;
      case "img_completo":
      accion="completo";
      miid = $(this).data("tarea");
      break;
    }

    var miocu = $(this).data("ocupado");
    var mirel = $(this).data("habitacion");
    console.log("mirel da:" + mirel);
    console.log("Acción da: " +accion);
    mitarea = "0" + $(this).data("tarea");
    kolorea = $(this).data('kolorea');
    inzidentzia = $(this).data("incidencia");
    var q = $('#q').val();
    switch (accion) {
      case "sale":
      funcsalir(miimg, mirel, mitarea, kolorea, inzidentzia);
      break;
      case "entra":
      funcentrar(miimg, mirel, mitarea, kolorea);
      break;
      case "1dia":
      console.log("1º dia");
      functareachange(miimg, mirel, kolorea, inzidentzia, mitarea, "01",q);
      break;
      case "repaso":
      console.log("repaso");
      functareachange(miimg, mirel, kolorea, inzidentzia, mitarea, "02",q);
      break;
      case "completo":
      console.log("completoa");
      functareachange(miimg, mirel, kolorea, inzidentzia, mitarea, "03",q);
      break;
    }
  }

  function functareachange (miimg, habitacion, kolorea, inzidentzia, tarea, tareanew, q) {
    // console.log("SARTU");
    if ( kolorea == "gorria") {
      var misrc = "/bundles/registro/img/plano2/" + habitacion + "-" + tareanew + "-" + kolorea + ".png";
    } else {
      var misrc = "/bundles/registro/img/plano2/" + habitacion + "-" + tareanew + "-" + kolorea + "-" + inzidentzia + ".png";
    }


    $(miimg).attr("src", misrc);

    // AJAX: actualizamos el estado de ocupación del a habitación
    var url =" {{ path('recepcion_cambiartarea')}}";
    console.log("url: " +url);
    console.log("hab: " + habitacion);
    console.log("tar:" + tarea);
    console.log("tarnew:" + tareanew);
    console.log("fetxa:" + q);
    $.get(url, { hab: habitacion, tar:  tarea, tarnew: tareanew, q:q }
      ,function(data) {

      }
      );
  }

  function funcsalir(dest, mirel, mitarea, kolorea, inzidentzia) {

    var misrc = "/bundles/registro/img/plano2/" + mirel + "-" + mitarea + "-" + kolorea + "-" + inzidentzia + ".png";

    if ( kolorea == "gorria") {
      var misrc = "/bundles/registro/img/plano2/" + mirel + "-" + mitarea + "-" + kolorea + ".png";
    } else {
      var misrc = "/bundles/registro/img/plano2/" + mirel + "-" + mitarea + "-" + kolorea + "-" + inzidentzia + ".png";
    }


    $(dest).attr("src", misrc);

    // AJAX: actualizamos el estado de ocupación del a habitación
    var url =" {{ path('estadohabitacion')}}";

    $.post(url, { hab: mirel }
      ,function(data) {

      }
      );
  }

  function funcentrar( dest, mirel, mitarea) {
    var misrc = "/bundles/registro/img/plano2/" + mirel + "-gorria.png";
    $(dest).attr("src", misrc);

    // AJAX: actualizamos el estado de ocupación del a habitación
    var url ="{{ path('estadohabitacion')}}";

    $.post(url, { hab: mirel }
      ,function(data) {

      }
      );
  }

  </script>

  {% endblock %}
