{% extends '::encargado.html.twig' %}

{% block section %}
<div id="divhitoriala" class="margina-gora">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="horizontalian">
            </div>

            <div class="span10">
                <h1>Detalle Registro</h1>
                <div class="row">
                    <dl>
                        <dt>Fecha</dt>
                        <dd>{{ historial.fecha|date('Y-m-d') }}</dd>
                        <dt>Habitación</dt>
                        <dd>{{ historial.habitacion.nombre }}</dd>
                        <dt>Usuario</dt>
                        <dd>{{ historial.usuario.nombre }}</dd>
                        <dt>Tipo de tarea</dt>
                        <dd>{{ historial.tipotarea.nombre }}</dd>
                    </dl>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#sinrealizar" data-toggle="tab" >Tareas Sin Realizar ({{ historial.tipotarea.tareas|length - historial.detalles|length }})</a></li>
                    <li><a href="#realizadas" data-toggle="tab">Tareas Realizadas ({{ historial.detalles|length  }})</a></li>
                    <li><a href="#todas" data-toggle="tab">Todas las Tareas ({{ historial.tipotarea.tareas|length }})</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="sinrealizar">
                        <ul>
                        {% for t in historial.tipotarea.tareas %}
                            {% set aurkitua = "0" %}
                            {% for t1 in historial.detalles %}
                                {% if t.id == t1.tarea.id %}
                                    {% set aurkitua="1" %}
                                {% endif %}
                            {% endfor %}
                            {% if aurkitua == "0" %}
                                <li>{{ t.nombre }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade in" id="realizadas">
                        <ul>
                            {% for d in historial.detalles %}
                                <li>{{ d.tarea.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade in" id="todas">
                        <ul>
                            {% for t in tipotarea %}
                                <li>{{ t.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div><!-- span10 -->
        </div><!-- row-fluio -->
    </div><!--container-fluid -->
</div>
{% endblock %}
{% block javascripts %}

{{ parent() }}

    <script type="text/javascript">
        $("#sortTableExample").tablesorter( {sortList: [[1,0]]} );




        $('#myTab a:first').tab('show');
    </script>

{% endblock %}
