<form action="{{ path('encargado_asignar') }}" method="post" {{ form_enctype(asign_form) }}>
        {{ form_errors(asign_form) }}

        <div style="display:none;">
            {{ form_row(asign_form.fecha) }}    
        </div><!-- / -->
        <div class="ezkerra">
            {{ form_row(asign_form.usuario) }} 

         
        
        </div><!-- .ezkerra -->
        <div class="eskuina">
            <div class="imghotel">
                <div class="hotel_ezkerra">
                    <div id="hotel_gela1" class="hotel_gela" rel="1">
                        <a href="#">100</a>
                    </div><!-- #hotel_gela1 -->
                    <div id="hotel_gela2" class="hotel_gela" rel="2">
                        <a href="#">101</a>
                    </div><!-- #hotel_gela2 -->
                    <div id="hotel_gela3" class="hotel_gela" rel="3">
                        <a href="#">102</a>
                    </div><!-- #hotel_gela3 -->
                    <div id="hotel_gela4" class="hotel_gela" rel="4">
                        <a href="#">103</a> 
                    </div><!-- #hotel_gela4 -->
                </div><!-- .hotel_ezkerra -->      
                <div class="hotel_eskuina">
                    <div id="hotel_gela5" class="hotel_gela" rel="5">
                        <a href="#">104</a>
                    </div><!-- #hotel_gela5 -->
                    <div id="hotel_gela6" class="hotel_gela" rel="6">
                        <a href="#">105</a> 
                    </div><!-- #hotel_gela6 -->
                    <div id="hotel_gela7" class="hotel_gela" rel="7">
                        <a href="#">106</a>
                    </div><!-- #hotel_gela7 -->
                    <div id="hotel_gela8" class="hotel_gela" rel="8">
                        <a href="#">107</a>
                    </div><!-- #hotel_gela8 -->
                    <div id="hotel_gela9" class="hotel_gela" rel="9">
                        <a href="#">108</a>
                    </div><!-- #hotel_gela9 -->
                    <div id="hotel_gela10" class="hotel_gela" rel="10">
                        <a href="#">109</a> 
                    </div><!-- #hotel_gela10 -->
                </div><!-- .hotel_eskuina -->
            </div><!-- .imghotel -->  
        </div><!-- .eskuina -->

        <!-- { { form_rest(asign_form) } } -->

        {% spaceless %}
            <div id="input1" class="clonedInput">
                {{ form_row(asign_form.habitacion) }}
                {{ form_row(asign_form.tipotarea) }}
            </div>
        {% endspaceless %}        
        
        {{ form_rest(asign_form) }}

        <input type="hidden" id="listagelas" value="0" />
        <input type="text" id="txtusuario" value="{{ registros[0].usuario.id }}" />
        <input type="text" id="txtfecha" value="{{ registros[0].fecha | date('Y-m-d') }}" /> 
        <p>
            <button type="submit">Asignar</button>
        </p>
    </form>