{% extends '::encargado.html.twig' %}

{% block section %}
  <div id="divhitoriala" class="margina-gora">

    <div class="historia-ezkerra">
      <form id="frmTaller" action="{{ path('encargado_historiala') }}" method="post">
        <input type="hidden" id="q" name="q" value="{{ q }}" />
        <ul id="menuhorizontala" class="unstyled">
          <li>{{"Usuarios"}}</li>
          <li>
            <div id="select_usuario">
              <select name="usu" id="usu" class="medium">
                  <option value="0">{{"Selecciona"}}</option>
                      {% for usuario in usuarios %}
                          <option value="{{ usuario.id }}" {% if usuario.id == usu %} selected {% endif %}>{{ usuario.apellidos }}, {{ usuario.nombre }}</option>
                      {% endfor %}
              </select>
            </div>
          </li>
          <li>{{"Habitacion" }}</li>
          <li>
            <select name="hab" id="hab" class="medium">
                <option value="0">{{"Selecciona" | trans }}</option>
                    {% for habitacion in habitaciones %}
                        <option value="{{ habitacion.id }}" {% if habitacion.id == hab %} selected {% endif %}>{{ habitacion.nombre }}</option>
                    {% endfor %}
            </select>
          </li>
          <li>
              <span>
                  Fecha: <input type="text" id="datepicker"  value="{{ q }}">
              </span>
          </li>
          <li><input type="submit" name="btn_enviar" value="Buscar" id="btnfiltrar"></li>
        </ul>
      </form>
    </div><!-- .ezkerra -->
    <div class="container-fluid linean">
    <div class="row-fluid">
        <div class="">
            <h1>Historial</h1>
            <div class="">
                <table class="table table-striped table-bordered table-condensed zebra-striped" id="sortTableExample">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Habitacion</th>
                            <th>Usuario</th>
                            <th>Tipo Tarea</th>
                            <th>Incidencias</th>
                            <th>Completado</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in registros %}
                        <tr>
                            <td>{{ r.fecha|date('Y-m-d') }}</td>
                            <td>{{ r.createdat|date('H:i:s') }}</td>
                            <td>{{ r.updatedat|date('H:i:s') }}</td>
                            <td>{% if r.habitacion.nombre is not null %}{{ r.habitacion.nombre }}{% endif %}</td>
                            <td>{% if r.usuario is not null %}{{ r.usuario.nombre }}{% endif %}</td>
                            <td>{{ r.tipotarea.nombre }}</td>
                            <td>{% for incidencia in r.incidencias %} <span>{{ incidencia.nombre }}</span>{% endfor %}</td>
                            <td><a href="{{ path('encargado_dethistoriala', { 'id': r.id}) }}" title="">{{ r.detalles|length }} de {{ r.tipotarea.tareas|length }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
    </div><!--container-fluid -->
</div><!-- divhistoriala -->
{% endblock %}
{% block javascripts %}

{{ parent() }}

    <script type="text/javascript">
        $("#sortTableExample").tablesorter( {sortList: [[0,1],[3,0]]} );
    </script>

{% endblock %}
