{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('categoria_new') }}">
                        Berria
                    </a>
                </li>
            </ul>
        </aside>
        <div class="span10">
            <h1>Categoria list</h1>
             <div class="row">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Tareas</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('categoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a>             </td>
                            <td>{{ entity.nombre }}</td>
                            <td>{% for t in entity.tareas %}
                                <a href="{{ path('tarea_show',{'id': t.id}) }}">
                                    <span class="label label-info">{{ t.nombre }}</span>
                                </a>&nbsp;
                                {% endfor %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('categoria_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container -->
{% endblock %}
