{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('categoria') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>
                    <form action="{{ path('categoria_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>

        </aside>
        <div class="span10">
            <h1>Categoria</h1>
            <div class="row">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- row -->
            <h5>Lista de Tareas</h5>
            <div class="row">
                <ul>
                    {% for t in entity.tareas %}
                        <li><a href="{{ path('tarea_show',{'id': t.id}) }}"><span class="label label-info">{{ t.nombre }}</span></a></li>
                    {% endfor %}
                </ul>
            </div><!-- .row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}
