{% extends '::recepcion.html.twig' %}

{% block section %}

<div id="buscarRegistro" style="display:none;">
    <form action="{{ path('recepcion_asignar') }}" method="get" id="bilatu">   
        <label for="q">q</label>
        <input type="text" id="q" name="q" />
        <label for="fetxa">fetxa</label>
        <input type="text" id="fetxa" value="{{ q }}" />
        <label for="usu">usu</label>
        <input type="text" id="usu" value={% if not registros is empty %}{{ registros[0].usuario.id }} {% endif %}/>
        <label for="mishabitaciones">mishabitaciones</label>
        <input type="text" id="mishabitaciones" value="{% if not registros is empty %}{% for r in registros %}{{ r.habitacion.nombre|trim}}#{% endfor %}{% endif %}" >
        <label for="mistareas">mistareas</label>
        <input type="text" id="mistareas" value="{% if not registros is empty %}{% for r in registros %}{{ r.tipotarea.id}}#{% endfor %}{% endif %}" >
        <label for="misindex">misindex</label>
        <input type="text" id="misindex" value="{% if not registros is empty %}{% for r in registros %}{{ loop.index }}#{% endfor %}{% endif %}" >
        <label for="misocupados">misocupados</label>
        <input type="text" id="misocupados" value="{% if not registros is empty %}{% for r in registros %}{{ r.habitacion.ocupado }}#{% endfor %}{% endif %}" >
    </form>
</div>
<div id="divdatos">
    <div class="ezkerra">
            {{ form_row(form.usuario) }} 

        Fecha: <div id="datepicker"></div>   
        </div><!-- .ezkerra -->
    <div class="eskuina">
        <div class="imghotel">
            <div class="hotel_ezkerra">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button id="btn_tarea" class="btn btn-success">Tarea</button>
                    <button id="btn_estado" class="btn">Estado</button>
                </div>
                <div id="hotel_gela1">
                    <a href="#" class="hotel_gela" rel="107">
                        <img src="{{ asset('bundles/registro/img/plano/107-01-berdea.png') }}" alt="Habitación 107" width="379px" height="128px" />
                    </a>
                </div><!-- #hotel_gela1 -->
                <div id="hotel_gela2">
                    <a href="#"  class="hotel_gela" rel="108">
                        <img src="{{ asset('bundles/registro/img/plano/108-01-berdea.png') }}" alt="Habitación 108"  width="379px" height="299px" />
                    </a>
                </div><!-- #hotel_gela2 -->
                <div id="hotel_gela3">
                    <a href="#" class="hotel_gela" rel="109">
                        <img src="{{ asset('bundles/registro/img/plano/109-01-berdea.png') }}" alt="Habitación 109"  width="379px" height="177px" />
                    </a>
                </div><!-- #hotel_gela3 -->
                <div id="hotel_gela4">
                    <a href="#" class="hotel_gela" rel="110">
                        <img src="{{ asset('bundles/registro/img/plano/110-01-berdea.png') }}" alt="Habitación 110"  width="379px" height="158px" />
                    </a>
                </div><!-- #hotel_gela4 -->
            </div><!-- .hotel_ezkerra -->      
            <div class="hotel_eskuina">
                <button id="botoia" class="btn btn-primary" type="submit">Grabar</button>
                <div id="hotel_gela5">
                    <a href="#" class="hotel_gela" rel="106">
                        <img src="{{ asset('bundles/registro/img/plano/106-01-berdea.png') }}" alt="Habitación 106"  width="242px" height="128px" />
                    </a>
                </div><!-- #hotel_gela5 -->
                <div id="hotel_gela6">
                    <a href="#" class="hotel_gela" rel="105">
                        <img src="{{ asset('bundles/registro/img/plano/105-01-berdea.png') }}" alt="Habitación 105"  width="243px" height="126px" />
                    </a>
                </div><!-- #hotel_gela6 -->
                <div id="hotel_gela7">
                    <a href="#" class="hotel_gela" rel="104">
                        <img src="{{ asset('bundles/registro/img/plano/104-01-berdea.png') }}" alt="Habitación 104"  width="243px" height="128px" />
                    </a>
                </div><!-- #hotel_gela7 -->
                <div id="hotel_gela8">
                    <a href="#" class="hotel_gela" rel="103">
                        <img src="{{ asset('bundles/registro/img/plano/103-01-berdea.png') }}" alt="Habitación 102"  width="243px" height="125px" />
                    </a>
                </div><!-- #hotel_gela8 -->
                <div id="hotel_gela9">
                    <a href="#" class="hotel_gela" rel="102">
                        <img src="{{ asset('bundles/registro/img/plano/102-01-berdea.png') }}" alt="Habitación 102"  width="243px" height="125px" />
                    </a>
                </div><!-- #hotel_gela9 -->
                <div id="hotel_gela10">
                    <a href="#" class="hotel_gela" rel="101">
                        <img src="{{ asset('bundles/registro/img/plano/101-01-berdea.png') }}" alt="Habitación 101"  width="243px" height="129px" />
                    </a>
                </div><!-- #hotel_gela10 -->
            </div><!-- .hotel_eskuina -->
        </div><!-- .imghotel -->  
    </div><!-- .eskuina -->
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span10">
            <h1>Lanak</h1>
            <div class="row">
                <form id="form_datuak" action="{{ path('recepcion_asignar') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    
                    <ul class="registros" data-prototype="{{ form_widget(form.registros.get('prototype')) | e }}">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for registro in form.registros %}
                            <li>{{ form_row(registro) }}</li>
                        {% endfor %}
                    </ul>
                    {{ form_rest(form) }}
                    <p>
                        <button type="submit">Create</button>
                    </p>
                </form>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}
{% block javascripts %}

{{ parent() }}


<script type="text/javascript">

    $('.hotel_gela').click(function(e) {

        var mirel = $(this).attr('rel');

        if ( $('#btn_tarea').hasClass('btn-success')) {
        } else {
            
            var url =" {{ path('estadohabitacion')}}";
            
            $.post(url, { hab: mirel }
                ,function(data) { 
                    var midiv = $('a[rel="' + mirel + '"]');
                    var miimg = $(midiv).find('img');
                    var izena = $(miimg).attr('src').split('-');
        
                    var gela = izena[0];
                    var lana = izena[1];
                    var kolorea = izena[2];

                    console.log("kolorea" + kolorea);

                    if (kolorea =="berdea.png") {
                        kolorea = "gorria.png"
                    } else if (kolorea=="gorria.png") {
                        kolorea ="berdea.png"
                    }
                
                    var opc = gela + "-" + lana + "-" + kolorea
                    $(miimg).attr('src', opc);
                    console.log("opc: " +opc);

                }
            ); 
        }    

    });



</script>

{% endblock %}
