{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('backend_tipousuario') }}" class="btn">
                        Atzera
                    </a>
                </li>
                <li>
                    <form action="{{ path('backend_tipousuario_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="btn">Ezabatu</button>
                    </form>
                </li>
            </ul>
        </aside>
        <div class="span10">
            <h1>Tipousuario edit</h1>
            <div class="row">
                <form action="{{ path('backend_tipousuario_update', { 'id': entity.id }) }}" method="post"  {{ form_enctype(edit_form) }}>
                    {{ form_widget(edit_form) }}
                    <p>
                        <button type="submit">Edit</button>
                    </p>
                </form>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}