


.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 98%;
}

.container-fluid.linean {
    width: 73%;
}

.span2 {
	width: 200px !important;
}

.horizontalian {
    display: inline-block;
    vertical-align: top;
}

ul#menuhorizontala li {
    display: inline-block;
}