
.navbar {
    /*background-color: #014380;*/
    background-color: #000048;
}

.navbar .brand {
    margin-left: -10px !important;
}

.nabigazioa li {
    display: inline-block;
    margin: 0 30px;
}

.eskubira {
    float: right;
    margin-right: 10px;
}

.margina-gora {
    margin-top: 20px;
}

.linean {
    display:inline-block;
}

#menu {
    margin-top: 30px;
}
.historia-ezkerra {
    display: inline-block;
    margin: 35px 0 0;
    min-height: 250px;
    vertical-align: top;
    width: 23%;
}
.ezkerra {
    width: 250px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

.eskuina {
    width: 662px;
    min-height: 800px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
    position: relative;
}

.imghotel {
    min-height: 80%;
    min-width: 60%;
    /*background-color: #000;*/
    margin: 0px;
    padding: 0px;
    width: 669px;
    position: absolute;
    right: 0;
}

.hotel_ezkerra {
    width: 361px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

.hotel_eskuina {
    width: 300px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    zoom: 1;
    *display: inline;
    _height: 250px;
    margin-left: -5px;
}

.hotel_gela {
    width:auto;
    height:auto;
}

.aside { width:200px !important;}
.gitekaside {width:200px !important;}

#hotel_gela1 { position: relative; height: 229px; }
#hotel_gela1 img { width: 100%; }
#span107 { left:30px; position:absolute; top:60px; }

#hotel_gela2 { position: relative; height: 217px; }
#hotel_gela2 img { width: 100%; }

#span108 {
    left:30px;
    position:absolute;
    top:50px;
}
#hotel_gela3 {
    position: relative;
    height: 177px;
}
#hotel_gela3 img { width: 100%;}
#span109 {
    left:30px;
    position:absolute;
    top:35px;
}
#hotel_gela4 {
    position: relative;
    height:165px;
}
#hotel_gela4 img { width: 100%; }
#span110 {
    left:30px;
    position:absolute;
    top:35px;
}
#hotel_gela5 {
    position: relative;
    height: 154px;
}
#hotel_gela5 img {
    width: 100%;
}
#span106 {
    left:45px;
    position:absolute;
    top:60px;
}
#hotel_gela6 {
    position: relative;
    height: 125px
}
#hotel_gela6 img {
    width: 100%;
}
#span105 {
    left:40px;
    position:absolute;
    top:45px;
}
#hotel_gela7 {
    position: relative;
    height: 126px;
}
#hotel_gela7 img { width: 100%; }
#span104 {
    left:40px;
    position:absolute;
    top:38px;
}
#hotel_gela8 {
    position: relative;
    height: 124px;
}
#hotel_gela8 img { width: 100%;}
#span103 {
    left:38px;
    position:absolute;
    top:38px;
}
#hotel_gela9 {
    position: relative;
    height: 124px;
}
#hotel_gela9 img { width: 100%;}
#span102 {
    left:40px;
    position:absolute;
    top:35px;
}
#hotel_gela101 {
    position: relative;
    height: 120px;
}
#hotel_gela101 img { width: 100%; }
#span10 {
    left:40px;
    position:absolute;
    top:38px;
}

#btnasign, #btnasignartarea, #btnhistoriala, #btnsalir {
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    margin:0 0 -18px 0;
}

#btnasign:hover, #btnasignartarea:hover, #btnhistoriala:hover, #btnsalir:hover {
    border:1px #cccccc dotted ;
    color: #cccccc;
}

#frmasignarlimpieza, #frmasignarlimpieza2 {
    /*margin:0;*/
}

#divopciones {
    width:200px;
}
.ultareas {
    list-style: none;
    margin-top: 30px;
}

.ultareas li {
    line-height: 18px;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
}