{% extends '::usuario.html.twig' %}

{% block content %}
    <div class="loader"></div>
    <div data-role="page" id="home" data-title="Home">
        <div data-role="header" data-position="fixed" data-theme="c">
            <a href="{{ path('usuario_mapa') }}" rel="external" data-icon="back">Volver</a>

            <h1>Habitación {{ hab }}</h1>
            <a href="#" data-role="button" data-iconpos="right" data-icon="refresh" id="btn-refresh" rel="external">Refrescar</a>

            <div data-role="navbar">
                <ul>
                    <li><a href="#instrucciones"><img
                                    src="{{ asset('bundles/registro/img/iconos/iconos_color/instrucciones.png') }}"/><span
                                    class="spansub">Instrucciones</span></a></li>
                    <!-- <li><a href="#incidencia"><img src="{ { asset('bundles/registro/img/iconos/iconos_color/incididencia.png') }}" /><span class="spansub">Incidencia</span></a></li> -->
                </ul>
            </div>
            <!-- /navbar -->
        </div>
        <!-- /header -->

        <div data-role="content">
            <ol data-role="listview" class="ui-listview">
                <div class="ui-grid-b">
                    {% set cont = 0 %}
                    {% for t in registro.tipotarea.tareas %}
                    {% if t.categorias[0].nombre != app.session.get('filtro') %}
                    <div style="display:none;">
                        {% else %}
                        {% set cont = cont + 1 %}
                        {% if (cont == 1) %}
                        <div class="ui-block-a texto_centrado">
                            {% elseif (cont == 2) %}
                            <div class="ui-block-b texto_centrado">
                                {% elseif (cont == 3) %}
                                {% set cont = 0 %}
                                <div class="ui-block-c texto_centrado">
                                    {% endif %}
                                    {% endif %}

                                    <div class="tarea-imagen">
                                        <a href="#" {% if t in mistareas %} data-completado=1 {% else %} data-completado=0 {% endif %}
                                           data-registro="{{ registro.id }}" data-tarea="{{ t.id }}"
                                           class="checktarea tarea-link">{% if not t.imagen is empty %}<img
                                                src="{{ asset(directorio_imagenes ~ t.imagen) }}" alt="Tareas"
                                                width="120px" /><img
                                                src="{{ asset('bundles/registro/img/iconos/iconos_color/check.png') }}"
                                                class=" check {% if t not in registro.detalles %} oculto {% else %} mostrar {% endif %}" />{% endif %}
                                        </a>
                                    </div>
                                    <!-- .imagen-tarea -->
                                </div>

                                {% endfor %}

                                {% set cont = cont + 1 %}
                                {% if (cont == 1) %}
                                <div class="ui-block-a texto_centrado">
                                    {% elseif (cont == 2) %}
                                    <div class="ui-block-b texto_centrado">
                                        {% elseif (cont == 3) %}
                                        {% set cont = 0 %}
                                        <div class="ui-block-c texto_centrado">
                                            {% endif %}
                                            <div class="tarea-imagen">
                                                {% if ( app.session.get('filtro') == "Habitacion" ) %}
                                                    <a href="{{ path('usuario_habitacion',{'hab':hab,'lan':'Bano' }) }}"
                                                       class="" rel="external">Komuna</a>
                                                {% else %}
                                                    <a href="{{ path('usuario_habitacion',{'hab':hab,'lan':'Habitacion' }) }}"
                                                       class="" rel="external">Habitacion</a>
                                                {% endif %}
                                            </div>

                                        </div>
                                        <!--ui-grid-b-->
            </ol>
        </div>
        <!-- #content -->

        <div data-role="footer" data-position="fixed" data-theme="c">
            <!-- <div class="auskalo">
                <button type="submit" formaction="{ { path('fos_user_security_logout') }}" data-mini="true" rel="external">Desconectar usuario: { {app.user.username}}</button>
              </div> -->

            <div class="ui-controlgroup-controls" data-type="horizontal">

                <fieldset data-role="controlgroup" data-type="horizontal" style="text-align: center"
                          class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
                    {% set cont = 0 %}
                    {% for i in incidencias %}
                        {% set cont = cont + 1 %}
                        {% if cont < 8 %}

                            <input type="checkbox" name="checkbox-{{ loop.index }}" id="checkbox-{{ loop.index }}"
                                   data-registroid="{{ registro.id }}" class="michek custom" value="{{ i.id }}"/>
                            <label for="checkbox-{{ loop.index }}"><img src="{{ asset(directorio_imagenes ~ i.foto) }}"
                                                                        width="75px" height="75px"/><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_color/check.png') }}"
                                        class="check {% if i not in registro.incidencias %} oculto {% else %} mostrar {% endif %}"/></label>
                        {% endif %}
                    {% endfor %}

                </fieldset>

            </div>
            <a href="#" id="btnterminar" data-icon="check" data-theme="b" class="ui-btn-right">Terminar!</a>
        </div>
        <!-- /footer -->
    </div><!-- /page home -->

    <div data-role="page" id="materiales" data-title="Materiales" data-url="materiales">
        <header data-role="header" data-position="fixed" data-theme="c">
            <a href="#home" data-icon="back">Volver</a>

            <h1>Materiales</h1>
        </header>
        <!-- /header -->

        <div data-role="content">
            <ul id="Gallerya" class="gallery">
                {% for r in registro %}

                    {% for t in r.tipotarea.tareas %}

                        {% for m in t.materiales %}

                            <li>
                                {% if not m.imagen is empty %}
                                    <a href="{{ asset(directorio_imagenes ~ m.imagen) }}" rel="external">
                                        <img src="{{ asset(directorio_imagenes ~ m.imagen) }}" alt="Tareas"/>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <!-- #content -->

        <footer data-role="footer" data-position="fixed">
        </footer>
        <!-- /footer -->
    </div><!-- /page materiales -->

    <div data-role="page" id="instrucciones" data-title="Instrucciones" data-url="instrucciones">
        <header data-role="header" data-position="fixed" data-theme="c">
            <a href="#home" data-icon="back">Volver</a>

            <h1>Instrucciones</h1>
        </header>
        <!-- /header -->

        <div data-role="content">
            <ol data-role="listview" class="ui-listview">
                <div class="ui-grid-b">
                    {% set cont = 0 %}
                    {% for t in registro.tipotarea.tareas %}
                    {% set cont = cont + 1 %}
                    {% if (cont == 1) %}
                    <div class="ui-block-a texto_centrado">
                        {% elseif (cont == 2) %}
                        <div class="ui-block-b texto_centrado">
                            {% elseif (cont == 3) %}
                            {% set cont = 0 %}
                            <div class="ui-block-c texto_centrado">
                                {% endif %}
                                <div class="tarea-imagen2">
                                    <a href="#instruccion{{ loop.index }}"
                                       class="tarea-link">{% if not t.imagen is empty %}<img
                                            src="{{ asset(directorio_imagenes ~ t.imagen) }}" alt="Tareas"
                                            width="120px" />{% endif %}</a>
                                </div>
                                <!-- .imagen-tarea -->
                                <div class="tarea-texto containing-element">
                                    {{ t.nombre }}
                                </div>
                            </div>
                            <!-- </li> -->
                            {% endfor %}
                        </div>
                        <!--ui-grid-b-->
            </ol>
        </div>
        <!-- #content -->

        <footer data-role="footer" data-position="fixed">

        </footer>
        <!-- /footer -->
    </div><!-- /page instrucciones -->


    <!-- Uno por cada video -->

    {% for t in registro.tipotarea.tareas %}
        <div data-role="page" id="instruccion{{ loop.index }}" data-title="{{ t.nombre }}"
             data-url="instruccion{{ loop.index }}">
            <header data-role="header" data-position="fixed" data-theme="c">
                <a class="byngitek" href="#home" data-icon="back">Volver</a>

                <h1>{{ t.nombre }}</h1>

                <div data-role="navbar">
                    <ul>
                        <li><a class="btn_reload" href="#"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/video.png') }}"/>Instrucciones</a>
                        </li>
                        <li><a class="byngitek" href="#prevencion{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/prevencion.png') }}"/>EPIs</a>
                        </li>
                        <li><a class="byngitek" href="#material{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/material.png') }}"/>Materiales</a>
                        </li>
                    </ul>
                </div>
                <!-- /navbar -->
                <a href="#" data-role="button" data-iconpos="right" data-icon="refresh" id="btn-refresh" rel="external">Refescar</a>
            </header>
            <!-- /header -->
            <div data-role="content">
                <div class="whateverID">
                    <iframe id="youtubeplayer{{ loop.index0 }}" width="640" height="390" frameborder="0"
                            title="YouTube video player" type="text/html"
                            src="http://www.youtube.com/embed/{{ t.video }}?enablejsapi=1&rel=0&loop=1"></iframe>
                    <!--                     <object width="420" height="315"><param name="movie" value="http://www.youtube.com/v/FHma2Zo4E6w?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{ { t.video } }?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object> -->
                </div>
            </div>
            <!-- #content -->

            <footer data-role="footer" data-position="fixed">

            </footer>
            <!-- /footer -->
        </div><!-- /page materiales -->

        <div data-role="page" id="prevencion{{ loop.index }}" data-title="{{ t.nombre }}"
             data-url="prevencion{{ loop.index }}">
            <header data-role="header" data-position="fixed" data-theme="c">
                <a href="#home" data-icon="back">Volver</a>

                <h1>{{ t.nombre }}</h1>

                <div data-role="navbar">
                    <ul>
                        <li><a href="#instruccion{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/video.png') }}"/>Instrucciones</a>
                        </li>
                        <li><a href="#prevencion{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/prevencion.png') }}"/>EPIs</a>
                        </li>
                        <li><a href="#material{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/material.png') }}"/>Materiales</a>
                        </li>
                    </ul>
                </div>
                <!-- /navbar -->
            </header>
            <!-- /header -->

            <div data-role="content">

                <ul id="Galleryb{{ loop.index }}" class="gallery">

                    {% for p in t.prevenciones %}

                        <li>
                            {% if not p.imagen is empty %}
                                <a href="{{ asset(directorio_imagenes ~ p.imagen) }}" rel="external">
                                    <img src="{{ asset(directorio_imagenes ~ p.imagen) }}" alt="Tareas"/>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- #content -->

            <footer data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="bottom">

                </div>
            </footer>
            <!-- /footer -->
        </div><!-- /page prevencion -->

        <div data-role="page" id="material{{ loop.index }}" data-title="{{ t.nombre }}"
             data-url="material{{ loop.index }}">
            <header data-role="header" data-position="fixed" data-theme="c">
                <a href="#home" data-icon="back">Volver</a>

                <h1>{{ t.nombre }}</h1>

                <div data-role="navbar">
                    <ul>
                        <li><a href="#instruccion{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/video.png') }}"/></a></li>
                        <li><a href="#prevencion{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/prevencion.png') }}"/></a>
                        </li>
                        <li><a href="#material{{ loop.index }}"><img
                                        src="{{ asset('bundles/registro/img/iconos/iconos_bn/material.png') }}"/></a>
                        </li>
                    </ul>
                </div>
                <!-- /navbar -->
            </header>
            <!-- /header -->

            <div data-role="content">

                <ul id="Gallerya{{ loop.index }}" class="gallery">

                    {% for m in t.materiales %}

                        <li>
                            {% if not m.imagen is empty %}
                                <a href="{{ asset(directorio_imagenes ~ m.imagen) }}" rel="external">
                                    <img src="{{ asset(directorio_imagenes ~ m.imagen) }}" alt="Tareas"/>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- #content -->

            <footer data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="bottom">

                </div>
            </footer>
            <!-- /footer -->
        </div><!-- /page materiales -->


    {% endfor %}





{% endblock %}
    {% block javascripts %}

        {{ parent() }}

        <script type="text/javascript">

            (function (window, $, PhotoSwipe) {
                $(document).ready(function () {
                    $(".gallery a").photoSwipe(
                            {
                                enableMouseWheel: false,
                                enableKeyboard: false
                            });
                });
            }(window, window.jQuery, window.Code.PhotoSwipe));

            $('.tarea-imagen').each(function (index) {
                var comp = $(this).children().data("completado");
                if (comp == "1") {
                    var miimg = $(this).children().children('.oculto')
                    $(miimg).toggleClass("mostrar");
                }
            });

            // var pathname = window.location.pathname;
            // console.log(pathname);
            // $('#btn-refresh').attr('href',pathname);



            $('.byngitek').click(function () {
                // console.log("Hemen!");
                var i = 0;
                $(".youtubeplayer").each(function () {
                    $(this).attr("id", "youtubeplayer" + i);
                    callPlayer("youtubeplayer" + i, "pauseVideo");
                    i++;
                });
            });

            $('.btn_reload').click(function () {
                // location.reload();
                var url = location;
                $.mobile.changePage(url, { reloadPage: true, transition: "none"});
            });


            $('.michek').click(function () {
                var incidenciaid = $(this).val();
                var registroid = $(this).data("registroid");
                var url = Routing.generate('api_post_incidencia', { registroid: parseInt(registroid) });
                var data = "incidenciaid=" + incidenciaid;
                var miimg = $(this).next().children().children().children('.oculto');
                $.ajax({
                    type: "POST",
                    // contentType: 'application/json',
                    url: url,
                    data: data,
                    cache: false,
                    // dataType: "json",
                    success: function (msg) {
                        $(miimg).toggleClass("mostrar");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });

            $('.checktarea').click(function () {
                // console.log(this);
                var tareaid = $(this).data("tarea");
                var registroid = $(this).data("registro");
                var url = Routing.generate('api_post_registro', { registroid: parseInt(registroid) });
                var data = "tareaid=" + tareaid;

                var miimg = $(this).children('.oculto');
                var mithis = $(this);
                $.ajax({
                    type: "POST",
                    // contentType: 'application/json',
                    url: url,
                    data: data,
                    cache: false,
                    // dataType: "json",
                    success: function (msg) {
                        $(miimg).toggleClass("mostrar");
                        var a = $(mithis).data("completado");
                        console.log(mithis);
                        if (a == "0") {
                            $(mithis).data("completado", "1");
                        } else {
                            $(mithis).data("completado", "0");
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(mithis).data("completado", "0");
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });

            $('#btnterminar').click(function () {
                // var resul = chectTareaComplera();

                if (chectTareaComplera() == 1) {
                    // Todas las tareas completadas
                    // console.log("Completando tarea");

                    var reg = "{{ registro.id }}";

                    var url = Routing.generate('api_post_registrocompletado', { registroid: parseInt(reg) });

                    var data = "completado=" + "1";

                    $.ajax({
                        type: "POST",
                        // contentType: 'application/json',
                        url: url,
                        data: data,
                        cache: false,
                        // dataType: "json",
                        success: function (msg) {
                            // redireccionamos a mapa
                            // alert("success");
                            var url = Routing.generate('usuario_mapa');
                            window.location.replace(url);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                } else {
                    $(this).simpledialog({
                        'mode': 'bool',
                        'prompt': '¡Tienes tareas por terminar!',
                        'useModal': true,
                        'buttons': {
                            'Aceptar': {
                                click: function () {
                                    $('#dialogoutput').text('OK');
                                    var url = Routing.generate('usuario_mapa');
                                    window.location.replace(url);
                                }
                            },
                            'Cancelar': {
                                click: function () {

                                },
                                icon: "delete",
                                theme: "c"
                            }
                        }
                    })
                }
            });

            function chectTareaComplera() {

                var resul = 1;

                $('.tarea-imagen').each(function (index) {

                    valor = $(this).children('a').data("completado");

                    if (valor == "0") {
                        resul = 0;
                        return false; // sale del foreach
                    }
                });

                return resul;
            }

            function callPlayer(frame_id, func, args) {

                if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
                var iframe = document.getElementById(frame_id);
                if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
                    iframe = iframe.getElementsByTagName('iframe')[0];
                }

                if (iframe) {
                    // Frame exists,
                    iframe.contentWindow.postMessage(JSON.stringify({
                        "event": "command",
                        "func": func,
                        "args": args || [],
                        "id": frame_id
                    }), "*");
                }
            }

            $('#btn-refresh').on('click', function () {
                location.reload();
            });
        </script>

    {% endblock %}
