{% extends '::usuario.html.twig' %}

{% block content %}

<div data-role="page" id="home" data-title="Home">
<div data-role="header" data-position="fixed" data-theme="c">
    <h1>Selección de tareas</h1>
    <a href="#" data-role="button" data-iconpos="right" data-icon="refresh" id="btn-refresh">Refrescar</a>
</div><!-- /header -->

<div data-role="content">

    <div id="buscarRegistro" style="display: none;" >
        <form action="{{ path('recepcion_asignar') }}" method="get" id="bilatu">
            <label for="q">q</label>
            <input type="text" id="q" name="q" value="{{q}}" />
            <label for="fetxa">fetxa</label>
            <input type="text" id="fetxa" value="{{ q }}" />
            <label for="usu">usu</label>
        </form>
    </div>
    <div id="divdatos">
        <div class="imghotel">
            <div class="hotel_ezkerra">
                <div id="hotel_gela1" >
                    <a href="#" class="hotel_gela" rel="107" data-ocupado="{{ mapa[7].Ocupado }}" >
                        <img src="{{ asset(mapa[7].img) }}" />
                    </a>
                </div><!-- #hotel_gela1 -->
                <div id="hotel_gela2" >
                    <a href="#"  class="hotel_gela" rel="108" data-ocupado="{{ mapa[8].Ocupado }}" >
                        <img src="{{ asset(mapa[8].img) }}" />
                    </a>
                </div><!-- #hotel_gela2 -->
                <div id="hotel_gela3" >
                    <a href="#" class="hotel_gela" rel="109" data-ocupado="{{ mapa[9].Ocupado }}" >
                        <img src="{{ asset(mapa[9].img) }}" />
                    </a>
                </div><!-- #hotel_gela3 -->
                <div id="hotel_gela4">
                    <a href="#" class="hotel_gela" rel="110" data-ocupado="{{ mapa[10].Ocupado }}" >
                        <img src="{{ asset(mapa[10].img) }}" />
                    </a>
                </div><!-- #hotel_gela4 -->
            </div><!-- .hotel_ezkerra -->
            <div class="hotel_eskuina">
                <div id="hotel_gela5">
                    <a href="#" class="hotel_gela" rel="106" data-ocupado="{{ mapa[6].Ocupado }}" >
                        <img src="{{ asset(mapa[6].img) }}" />
                    </a>
                </div><!-- #hotel_gela5 -->
                <div id="hotel_gela6" >
                    <a href="#" class="hotel_gela" rel="105" data-ocupado="{{ mapa[5].Ocupado }}" >
                        <img src="{{ asset(mapa[5].img) }}" />
                    </a>
                </div><!-- #hotel_gela6 -->
                <div id="hotel_gela7" >
                    <a href="#" class="hotel_gela" rel="104" data-ocupado="{{ mapa[4].Ocupado }}" >
                        <img src="{{ asset(mapa[4].img) }}" />
                    </a>
                </div><!-- #hotel_gela7 -->
                <div id="hotel_gela8" >
                    <a href="#" class="hotel_gela" rel="103" data-ocupado="{{ mapa[3].Ocupado }}" >
                        <img src="{{ asset(mapa[3].img) }}" />
                    </a>
                </div><!-- #hotel_gela8 -->
                <div id="hotel_gela9" >
                    <a href="#" class="hotel_gela" rel="102" data-ocupado="{{ mapa[2].Ocupado }}" >
                        <img src="{{ asset(mapa[2].img) }}" />
                    </a>
                </div><!-- #hotel_gela9 -->
                <div id="hotel_gela10" >
                    <a href="#" class="hotel_gela" rel="101" data-ocupado="{{ mapa[1].Ocupado }}" >
                        <img src="{{ asset(mapa[1].img) }}" />
                    </a>
                </div><!-- #hotel_gela10 -->
            </div><!-- .hotel_eskuina -->
        </div><!-- .imghotel -->

        <div class="container-fluid" style="display:none;">
            <div class="row-fluid">
                <div class="span10">
                <h1>Lanak</h1>
                <div class="row">

                </div> <!-- row -->
            </div><!-- span10 -->
            </div><!-- row-fluio -->
        </div><!--container-fluid -->
    </div><!-- divdatos -->

</div><!-- #content -->

<div data-role="footer" data-position="fixed" data-theme="c">
    <div class="auskalo">
        <a href="{{ path('fos_user_security_logout') }}" rel="external">Desconectar usuario: {{app.user.username}}</a>
    </div>
</div><!-- /footer -->
{% endblock %}


{% block javascripts %}

{{ parent() }}


<script type="text/javascript">

    $('.hotel_gela').click(function(e){

        var okupatua = $(this).data("ocupado");

        if ( okupatua == 0 ) {

            var mirel = $(this).attr('rel');

            var url1 =" {{ path('usuario_habitacion')}}";

            var url = url1 + "?hab=" + mirel

            window.location.replace(url);

        }

    });

    $('#btn-refresh').on('click',function() {
        location.reload();
    });

</script>

<script>

function refreshPage() {
  $.mobile.changePage(
    window.location.href,
    {
      allowSamePageTransition : true,
      transition              : 'none',
      showLoadMsg             : false,
      reloadPage              : true
    }
  );
}

</script>

{% endblock %}
