{% extends '::usuario.html.twig' %}

{% block content %}

<div id="pagina" data-role="page">
    <header data-role="header" data-position="fixed" data-theme="a">
        <h1>Guregas</h1>
        <ul class="nav pull-right">
            <li class="pull-right"><a href="{{path('fos_user_security_logout')}}">Salir</a></li>
        </ul>
    </header><!-- /header -->

    <div data-role="content">
    
    <h1>HOTEL GUREGAS</h1>

    </div><!-- #content -->

    <footer data-role="footer" data-position="fixed">

    </footer><!-- /footer -->

{% endblock %}

