{% extends '::base.html.twig' %}

{% block title %}BACKEND{% endblock %}

{% block stylesheets %}
<style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
</style>
    {% stylesheets  '@BackendBundle/Resources/public/css/bootstrap.min.css'
                    '@BackendBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@BackendBundle/Resources/public/css/style.css'
               output='css/backend.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@BackendBundle/Resources/public/js/jquery-1.7.2.min.js'
                    '@BackendBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
                    output='js/backend.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
  {% block nav %}
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">GUREGAS</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="pull-left"><a href="{{path('backend_usuario')}}">Usuarios</a></li>
                <li class="pull-left"><a href="{{path('backend_tipousuario')}}">Tipo Usuario</a></li>
                <li class="pull-left"><a href="{{path('habitacion')}}">Habitaciones</a></li>
                <li class="pull-left"><a href="{{path('material')}}">Materiales</a></li>
                <li class="pull-left"><a href="{{path('incidencia')}}">Incidencias</a></li>
                <li class="pull-left"><a href="{{path('prevencion')}}">Prevencion</a></li>
                <li class="pull-left"><a href="{{path('tipotarea')}}">Tipos de Tarea</a></li>
                <li class="pull-left"><a href="{{path('tarea')}}">Tareas</a></li>
                <li class="pull-left"><a href="{{path('categoria')}}">Categoria</a></li>
              </ul>
              <ul class="nav pull-right">
                <li class="pull-right"><a href="{{path('fos_user_security_logout')}}">Salir</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
  {% endblock %}

  {% block section %}

  {% endblock %}

{% endblock %}