{% extends '::base.html.twig' %}

{% block title %}Encargado{% endblock %}

{% block stylesheets %}
<style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
</style>
    {% stylesheets  '@BackendBundle/Resources/public/css/bootstrap.min.css'
                    '@BackendBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@RegistroBundle/Resources/public/css/overcast/jquery-ui-1.8.21.custom.css'
                    '@HotelBundle/Resources/public/css/encargado.css'
                    '@HotelBundle/Resources/public/css/encargadohistorial.css'
               output='css/encargado.css' filter='?yui_css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@BackendBundle/Resources/public/js/jquery-1.7.2.min.js'
                    '@BackendBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
                    '@RegistroBundle/Resources/public/js/jquery-ui-1.8.21.custom.min.js'
                    '@HotelBundle/Resources/public/js/encargado2.js'
                    '@HotelBundle/Resources/public/js/tablesorter.js'
                    '@BackendBundle/Resources/public/js/bootstrap/tab.js'
                    output='js/admin_encargado.js'  filter='?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
{% block nav %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar">
          <a class="brand" href="#"><img src="{{ asset('bundles/registro/img/guregas.png')}}" alt="logo Guregas" /></a>

            <ul class="nabigazioa">
              <li class="pull-left">
                <form action="{{ path('encargado') }}" method="post" name="frmasignarlimpieza" id="frmasignarlimpieza2">
                  <input type="hidden" name="miq0" id="miq0" value="" />
                  <a id="btnasign" href="#" >Asignar Usuario</a>
                </form>
              <li class="pull-left">
                <form action="{{ path('encargado_asignar_limpieza') }}" method="post" name="frmasignarlimpieza" id="frmasignarlimpieza">
                  <input type="hidden" name="miq" id="miq" value="" />
                  <a id="btnasignartarea" href="#" >Asignar Tipo Tarea</a>
                </form>
              </li>
              <li class="pull-left"><a id="btnhistoriala" href="{{path('encargado_historiala')}}">Historial</a>
                </li>
            </ul>
            <ul class="nabigazioa eskubira">
              <li class="pull-right"><a id="btnsalir" href="{{path('fos_user_security_logout')}}">Salir</a></li>
            </ul>

        </div>
      </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

<header>
    <h1><a href="{{ path('backend_portada') }}">ENCARGADO ADMIN</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('encargado_buscar') }}">Buscar</a></li>
        </ul>
    </nav>
</header>

{% block section %}

{% endblock %}



{% endblock %}