{% extends '::base.html.twig' %}

{% block title %}Recepcion{% endblock %}

{% block stylesheets %}
<style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
</style>
    {% stylesheets  '@BackendBundle/Resources/public/css/bootstrap.min.css'
                    '@BackendBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@RegistroBundle/Resources/public/css/overcast/jquery-ui-1.8.21.custom.css'
                    '@RegistroBundle/Resources/public/css/recepcion.css'
               output='css/admin_recepcion.css' filter='?yui_css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts  '@BackendBundle/Resources/public/js/jquery-1.7.2.min.js'
                    '@BackendBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
                    '@RegistroBundle/Resources/public/js/jquery-ui-1.8.21.custom.min.js'
                    output='js/admin_recepcion.js' filter='?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
{% block nav %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar">
          <a class="brand" href="#"><img src="{{ asset('bundles/registro/img/guregas.png')}}" alt="logo Guregas" /></a>
          <ul class="nabigazioa eskubira">
            <li class="pull-right"><a id="btnsalir" href="{{path('fos_user_security_logout')}}">Salir</a></li>
          </ul>
      </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

<header>
    <h1><a href="{{ path('backend_portada') }}">CUPON ADMIN</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('encargado_buscar') }}">Buscar</a></li>
        </ul>
    </nav>
</header>

{% block section %}

{% endblock %}

{% endblock %}