<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Guregas, Hotel gestioa">
    <meta name="author" content="Gitek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} | Guregas</title>

    {% block stylesheets %}
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        {% stylesheets  '@RegistroBundle/Resources/public/css/jquery.mobile-1.1.0.min.css'
        '@RegistroBundle/Resources/public/css/jquery.mobile.structure-1.1.0.min.css'
        '@RegistroBundle/Resources/public/css/jquery.mobile.theme-1.1.0.min.css'
        '@RegistroBundle/Resources/public/css/jquery.mobile.simpledialog.css'
        '@RegistroBundle/Resources/public/css/photoswipe.css'
        '@RegistroBundle/Resources/public/css/usuario.css'
        output='css/usuario.css' filter='?yui_css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/registro/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/registro/js/jquery.mobile-1.3.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/registro/js/jquery.mobile.simpledialog.js') }}"></script>

    {% endblock %}
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  {% block content %}{% endblock %}

  {% block javascripts %}
    {% javascripts  '@RegistroBundle/Resources/public/js/klass.min.js'
                    '@RegistroBundle/Resources/public/js/sobrecarga.js'

                    '@RegistroBundle/Resources/public/js/code.photoswipe.jquery-3.0.4.min.js'
                    '@RegistroBundle/Resources/public/js/usuario.js'

                    output='js/usuario.js' filter='?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
  {% endblock %}
<script>
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>
</body>
</html>