{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('tipotarea') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <form action="{{ path('tipotarea_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </aside>
        <div class="span10">
            <h1>Tipotarea edit</h1>
            <div class="row">
                <form action="{{ path('tipotarea_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                    {# render the task's only field: description #}
                    {{ form_row(edit_form.nombre) }}

                    <h3>Tareak</h3>
                    <ul class="tareak">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for tarea in edit_form.tareas %}
                        <li>{{ form_row(tarea.nombre) }}</li>
                        {% endfor %}
                    </ul>

                    {{ form_rest(edit_form) }}
                    {# ... #}
                    <p>
                        <button type="submit">Edit</button>
                    </p>
                </form>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}