{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('tipotarea') }}">
                        Bueltatu
                    </a>
                </li>
                <li>
                    <a href="{{ path('tipotarea_edit', { 'id': entity.id }) }}">
                        Aldatu
                    </a>
                </li>
                <li>
                    <form action="{{ path('tipotarea_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Ezabatu</button>
                    </form>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Tipotarea</h1>
            <div class="row">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- row -->
            <h5>Lista de tareas</h5>
            <div class="row">
                <ul>
                    {% for t in entity.tareas %}
                        <li>{{ t.nombre }}</li>
                    {% endfor %}
                </ul>
            </div><!-- .row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}  
