{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="pagina" data-role="page">
    <header data-role="header" data-position="fixed" data-theme="a">
        <h1>Usuarios</h1>
        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
    </header><!-- /header -->

    <div data-role="content">

        <form id="fosuserform" action="{{ path("fos_user_security_check") }}" method="post" target="_parent" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <ol data-role="listview" class="ui-listview">
                <div class="ui-grid-b">
                    {% set cont = 0 %}
                    {% for u in usuarios if u.enabled %}
                        {% set cont = cont + 1 %}
                        {% if (cont == 1) %}
                            <div class="ui-block-a texto_centrado">
                        {% elseif (cont == 2) %}
                            <div class="ui-block-b texto_centrado">
                        {% elseif (cont == 3) %}
                            {% set cont = 0 %}
                            <div class="ui-block-c texto_centrado">
                        {% endif %}

                        {#{ % if "ROLE_LIMPIEZA" in u.roles % }#}
                            <li>
                                <a href="#" class="sel_user" data-rel="{{u.username}}" rel="external" class="ui-link-inherit">
                                <img src="{{ asset('uploads/images/') }}{{ u.path }}" /><span>{{u.nombre}}</span>
                                </a>
                            </li>
                        {#{ % endif% }#}
                        </div>
                    {% endfor %}
                </div>
            </ol>

            <div style="display:none;" >
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" value="limpieza" />

                <input type="hidden" name="_target_path" id="_target_path" value="/usuario" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>

        </form>
    </div><!-- #content -->

    <footer data-role="footer" data-position="fixed">
        <h4>Guregas</h4>
    </footer><!-- /footer -->
{% endblock fos_user_content %}