{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('habitacion') }}">
                        Bueltatu
                    </a>
                </li>
                <li>
                    <a href="{{ path('habitacion_edit', { 'id': entity.id }) }}">
                        Aldatu
                    </a>
                </li>
                <li>
                    <form action="{{ path('habitacion_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Ezabatu</button>
                    </form>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Habitacion</h1>
            <div class="row">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}          
