<div class="fos_user_user_show">
    <p>{{ 'profile.show.nombre'|trans({}, 'FOSUserBundle') }}: {{ user.nombre }}</p>
    <p>{{ 'profile.show.apellidos'|trans({}, 'FOSUserBundle') }}: {{ user.apellidos }}</p>
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    <p>{{ 'prodile.show.imagen'|trans({}, 'FOSUserBundle')}}: <img src="{{ asset('uploads/images/') }}{{user.path }}" width="100" height="100" /></p>
    <p>{{ 'profile.show.tipousuario'|trans({}, 'FOSUserBundle') }}: {{ user.tipousuario.nombre }}</p>
    
</div>
