{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('tarea_new') }}">
                        <i class="icon-book"></i>Berria
                    </a>
                </li>
            </ul>

        </aside>
        <div class="span10">
            <h1>Lista de tareas</h1>
            <div class="row">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Orden</th>
                            <th>Imagen</th>
                            <th>Video</th>
                            <th>Materiales</th>
                            <th>Epis</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('tarea_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.orden }}</td>
                            <td>{% if entity.imagen %}<img src="{{"/uploads/images/" ~ entity.imagen }}" width="100px" height="100px" />{% endif %}</td>
                            <td>{% if not entity.video is empty %}
                                <iframe width="220" height="115" src="http://www.youtube.com/embed/{{entity.video}}" frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                            </td>
                            <td>{% for m in entity.materiales %}
                                    <a href="{{ path('material_show',{'id': m.id}) }}">
                                        <span class="label label-info">{{ m.nombre }}</span>
                                    </a>&nbsp;
                                {% endfor %}
                            </td>
                            <td>{% for p in entity.prevenciones %}
                                    <a href="{{ path('material_show',{'id': p.id}) }}">
                                        <span class="label label-success">{{ p.nombre }} </span>
                                    </a>&nbsp;
                                {% endfor %}
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('tarea_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tarea_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container -->
{% endblock %}

