{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('tarea') }}">
                        Bueltatu
                    </a>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Tarea creation</h1>
            <div class="row">
                <form action="{{ path('tarea_create') }}" method="POST" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}

                    {{ form_row(form.nombre) }} 

                    <label for="urlyoutube" class="title milabel">Pega la dirección del video en youtube:</label>
                    <input type="text" id="urlyoutube" class="input xlarge" name="urlyoutube" value="" />


                    {{ form_rest(form) }}

                    <p>
                        <button type="submit">Create</button>
                    </p>
                </form>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}
{% block javascripts %}

{{ parent() }}

<script type="text/javascript" charset="utf-8" >
    $(document).ready(function(){
        $('#urlyoutube').change(function() {
            if ($('#urlyoutube').val()!="") {
                var video_id = $('#urlyoutube').val().split('v=')[1];
            
                var ampersandPosition = video_id.indexOf('&');
            
                if(ampersandPosition != -1) {
                    video_id = video_id.substring(0, ampersandPosition);
                }
            
                $('#gitek_hotelbundle_tareatype_video').val(video_id);
            } else {
                $('#gitek_hotelbundle_tareatype_video').val("");
            }
        })
    });
   

</script>

{% endblock %}
