{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('tarea') }}">
                        Bueltatu
                    </a>
                </li>
                <li>
                    <a href="{{ path('tarea_edit', { 'id': entity.id }) }}">
                        Aldatu
                    </a>
                </li>
                <li>
                    <form action="{{ path('tarea_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Ezabatu</button>
                    </form>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Tarea</h1>
            <div class="row">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Update_at</th>
                            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- row -->
            <h5>Lista de Materiales</h5>
            <div class="row">
                <ul>
                    {% for m in entity.materiales %}
                        <li>{{ m.nombre }}</li>
                    {% endfor %}
                </ul>
            </div><!-- .row -->
            <h5>Lista de EPIs</h5>
            <div class="row">
                <ul>
                    {% for p in entity.prevenciones %}
                        <li>{{ p.nombre }}</li>
                    {% endfor %}
                </ul>
            </div><!-- .row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}     
