{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('backend_usuario_new') }}">
                        <i class="icon-book"></i>Berria
                    </a>
                </li>
            </ul>

        </aside>
        <div class="span10">
            <h1>Lista de usuarios:</h1>
            <div class="row">
                <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Foto</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('backend_usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.apellidos }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{% if entity.path %}<img src="{{"/uploads/images/" ~ entity.path }}" width="100px" height="100px" />{% endif %}</td>
            <td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('backend_usuario_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('backend_usuario_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}