{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('backend_usuario') }}">
                        Bueltatu
                    </a>
                </li>
                <li>
                    <a href="{{ path('backend_usuario_edit', { 'id': entity.id }) }}">
                        Aldatu
                    </a>
                </li>
                <li>
                    <form action="{{ path('backend_usuario_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit">Ezabatu</button>
                    </form>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Usuario</h1>

            <div class="row">
                
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ entity.apellidos }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ entity.password }}</td>
                        </tr>
                        <tr>
                            <th>Salt</th>
                            <td>{{ entity.salt }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}                
