{% extends '::usuario.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    </style>
    {% stylesheets  '@BackendBundle/Resources/public/css/bootstrap.min.css'
                    '@BackendBundle/Resources/public/css/bootstrap-responsive.min.css'
                    '@UsuarioBundle/Resources/public/css/estiloa.css'
               output='css/security.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block section %}

    {{ block('fos_user_content') }}

{% endblock %}


{% block javascripts %}
    {% javascripts  '@BackendBundle/Resources/public/js/jquery-1.7.2.min.js'
                    '@BackendBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
                    '@UsuarioBundle/Resources/public/js/nirejs.js'
                    output='js/backend.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}