{% extends '::backend.html.twig' %}

{% block section %}
<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span2">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header" >
                    Akzioak
                </li>
                <li>
                    <a href="{{ path('prevencion') }}">
                        Bueltatu
                    </a>
                </li>
            </ul>                
            
        </aside>
        <div class="span10">
            <h1>Prevencion creation</h1>
            <div class="row">
                <form action="{{ path('prevencion_create') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit">Create</button>
                    </p>
                </form>
            </div> <!-- row -->
        </div><!-- span10 -->
    </div><!-- row-fluio -->
</div><!--container-fluid -->
{% endblock %}